---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const products = await getCollection('products');
---

<Base title="Products">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {products.map(product => (
      <a href={`/products/${product.id}`} class="block">
        <div class="border rounded p-4">
          <img src={product.data.heroImage} alt={product.data.title} />
          <h2>{product.data.title}</h2>
          <p>${product.data.price}</p>
        </div>
      </a>
    ))}
  </div>
</Base> 